/* Reset di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input:focus {
    border-color: #007BFF;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

.login-btn:hover {
    background-color: #0056b3;
}

/* Error container styling */
.error-container {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
    font-size: 100px;
    color: #e74c3c;
    margin-bottom: 10px;
}

.error-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.error-container p {
    font-size: 18px;
    margin-bottom: 10px;
}


/* Responsive Design */
@media (max-width: 600px) {
    .login-container {
        padding: 1.5rem;
    }

    .form-group input {
        font-size: 0.9rem;
    }

    .login-btn {
        font-size: 0.9rem;
    }

    .error-container h1 {
        font-size: 70px;
    }

    .error-container h2 {
        font-size: 20px;
    }

    .error-container p {
        font-size: 16px;
    }
}