<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Errore 401 - Unauthorized</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{url_for('static', filename='media/logo.png')}}"> 
    <script>
        // Imposta il redirect dopo un certo tempo
        const redirectUrl = "{{ redirect_url }}";
        const redirectDelay = 5000; // Tempo in millisecondi (es. 5 secondi)

        window.onload = () => {
            setTimeout(() => {
                window.location.href = redirectUrl;
            }, redirectDelay);
        };
    </script>
</head>
<body>
    <div class="home">
        <div class="error-container">
            <h1>401</h1>
            <h2>Unauthorized</h2>
            <p>Errore: <span>{{ message }}</span></p>
        </div>  
    </div>
</body>
</html>
